---
layout: null
sitemap: false
---

$brand-colour: #2196f3;

$nav-header-height: 60px;
$nav-background-color: #f5f5f5;
$nav-width: 250px;

$space: 20px;

$mobile-break: 700px;

@import "mixins";
@import "main";
@import "borland";
@import "monaki";

header h1 #open-nav {
	img {
		height: 24px;
		width: 24px;
	}
}

a.api-url {
	color: #1EAEDB;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

code.highlighter-rouge {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}
